html {
  background: url('../dist/images/blackjack-table.png') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
table {
  border-spacing: 0 0 30px 0;
  margin: 40px auto;
}


h1 {
  letter-spacing: 5px;
  color: #001a00;
  text-shadow: 0px 2px 3px #004d00;
  font-family: copperplate;
  font-size: 100px;
  position: relative;
}

.board-container {
  margin-top: -50px;
}

.bet-btn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  background-color: yellow;
  border: 2px solid orange;
}

#deal-btn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  background-color: green;
  border: 2px solid yellow;
}

.bet-btn:hover {
  color: white;
  background-color: red;
  border-color: white;
}

#deal-btn:disabled {
  background-color: #ffffff;
  opacity: 0.6;
  color: darkgrey;
}

#dDown-btn:disabled {
  background-color: #ffffff;
  opacity: 0.6;
  color: darkgrey;
}

.action-btn {
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  background-color: blue;
  border: 2px solid white;
}

.action-btn:hover {
  color: blue;
  background-color: white;
  border-color: blue;
}

#player-stats p {
  color: white;
  font-size: 20px;
  margin: 5px;
}

#stats-cell {
  padding-bottom: 45px;
}

.card-row {
  height: 143px;
}

.options-container {
  margin-top: -50px;
}

#win-box {
  border: 5px solid white;
  border-radius: 20px;
  width: 22%;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 7%;
  color: white;
}

#degree {
  position: fixed;
  top: 25%;
  right: 7%;
}

